<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.claresti.directoriodigital.acerca" />
        <activity android:name="com.claresti.directoriodigital.busqueda" />
        <activity android:name="com.claresti.directoriodigital.buscar" />
        <activity android:name="com.claresti.directoriodigital.item_desplegado"></activity>
    </application>

</manifest>